<div class="container-fluid">
  <div class="row">
    <div class="col mb-2" *ngFor="let nave of naves">
      <div class="card p-2" style="width: 15rem; height: 33rem">
        <img
          class="card-img-top"
          src="{{ nave.imagen }}"
          alt="{{ nave.nombre }}"
        />
        <div class="card-body">
          <h5 class="card-title">{{ nave.nombre }}</h5>
          <p class="card-text">[{{ nave.descripcion }}]</p>
          <p class="card-text">[{{ nave.empresa_fabricacion }}]</p>
        </div>
  </div>
</div>


